*{
  box-sizing       : border-box;
}

body {
  margin     : 0 !important;
}

header {
  width            : 100%;
  min-width        : 700px;
  height           : 120px;
  background       : linear-gradient( rgb(0, 0, 0), rgb(180, 180, 180));
}
.tatle {
  display          : flex;
  justify-content  : center;
}
.tatle_img {
  height           : 90px;  
  margin-top       : 12px;
}
main {
  margin-top       : 50px;  
  min-width        : 700px;
}
#blocks {
  margin           : 0 auto;
}
.main_butons {
  margin-top       : 20px;
  text-align       : center;
}
  .main_butons>button {
  cursor           : pointer;
  margin           : 0 5px;
  padding          : 1px 10px;
  font-size        : 17px;
  background-color : rgb(230, 230, 230);
  border-radius    : 4px;
  outline          :none;
}
.main_butons>button:hover {
  transition       : 0.4s;
  background-color : rgb(146, 230, 255);
}
#main_generation {
  display          : inline-block;
  margin-left      : 100px;
  font-size        : 20px;
}
table {
  height           : 650px;
  width            : 650px;
  border           : solid 1px;
  border-collapse  : collapse;
}
td {
  border           : solid 1px;
  background-color : white;
}
